<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.wm.cs.cs301.EthanYoung.gui">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AMazeActivity"
            android:label="@string/title_activity_amaze"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GeneratingActivity"
            android:label="@string/title_activity_generating"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PlayManuallyActivity"
            android:label="@string/title_activity_play_manually"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PlayAnimationActivity"
            android:label="@string/title_activity_play_animation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WinningActivity"
            android:label="@string/title_activity_winning"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LosingActivity"
            android:label="@string/title_activity_losing"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>